<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CHMP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 style="text-align:center;color:green;">Product</h1>
    <!-- Bootstrap table class -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">S. No.</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">InStock</th>
            <th scope="col">CommentID</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p :${product}">
            <td scope="row" th:text="${p.id}">1</td>
            <td th:text="${p.name}">Ajay</td>
            <td th:text="${p.price}">Patna</td>
            <td th:text="${p.inStock}">20</td>
            <td th:text="${p.commentID}"></td>
            <td scope="row">
                <a th:href="@{'/CHMP/product/edit/'+${p.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/CHMP/product/delete/'+${p.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</html>